.material-palette-grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(84px, 1fr));
}

.material-palette-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
}

.material-palette-icon {
    filter: drop-shadow(0 0 2px black)
            drop-shadow(0 0 1px black)
            ;        
    image-rendering: pixelated;
}

.material-palette-label {
    text-align: center;
    word-break: break-all;
}

.material-palette-selected {
    padding: 0px;
    background-color: #00c3ff40;
    border: #008cff20 solid 3px;
    border-radius: 8px;
}
